$background-color: #000000;
$text-color: #ffffff;
$emphasis-color: #00ff0a;
$secondary-accent-color: #008005;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  background-color: $background-color;
  font-family: Inter, sans-serif;
  color: $text-color;
  margin: 0;
  padding: 0;
}

#message-page-container {
  display: flex;
  // min-height: 99.9vh;
  border-bottom: 1px solid $emphasis-color;
  min-width: 99.9vh;
}

#sidebar {
  flex: 15;
}

#message-side {
  flex: 85;
  width: 100vw;
  height: 100%;
  margin-bottom: 0;
}

#top-container {
  display: grid;
  grid-template-columns: 4fr 5fr;
  font-size: 25px;
  padding-bottom: 1%;
}

#home {
  padding: 2%;
}

#messages {
  padding-top: 2%;
  padding-bottom: 1%;
}

#thirdline {
  display: flex;
  justify-content: space-between;
  margin-top: 1%;
  border-bottom: 1px solid $emphasis-color;
  font-size: 2rem;
}

#clear {
  background-color: $secondary-accent-color;
  padding: 1%;
  border-radius: 25px;
  border: none;
  font-size: 2rem;
}

#new {
  margin: 0;
  margin-top: 1.5%;
  margin-left: 2%;
  padding-bottom: 1%;
}

// #user-bar{
//   display: flex;
//   position: relative;
//   flex-direction: column;
//   flex-grow: 1;
//   padding-top: calc(1% + 3px);
//   padding-bottom: calc(1% + 3px);
//   width: 20%;
//   border: 1px solid $emphasis-color;
// }

// #message-box {
//   display: flex;
//   position: absolute;
//   flex-direction: column;
//   flex-grow: 1;
//   justify-content: center;
//   align-items: center;
//   min-height: 85vh;
//   padding-left: 23%;
// }
#message-container {
  display: grid;
  grid-template-columns: auto 1fr;
}
#user-bar {
  padding-top: calc(2% + 3px);
  padding-bottom: calc(2% + 3px);
  border: 1px solid $emphasis-color;
}
#message-box {
  display: grid;
  grid-template-rows: auto 1fr auto;
}
#message-items-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.center-text-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

app-send-message {
  margin-top: auto;
}

app-message-text-box {
  margin-top: auto;
  padding-bottom: 2%;
  width: 50vw;
  justify-content: center;
}
