@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
$font: Inter, sans-serif;
$background-color: #000000;
$alt-background-color: #D9D9D9;
$text-color: #FFFFFF;
$emphasis-color: #00FF0A;
$secondary-accent-color: #008005;

* {
    background-color: $background-color;
    font-family: Inter, sans-serif;
    color: $text-color;
}
 

.top-right-container {
    display: flex;
    flex-direction: column; // Stack child elements vertically
    align-items: center; // Center align the items horizontally
}

.messages-heading {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20%;
    font-size: 30px;
}

.divider-line {
    position: absolute; // Position the line relative to its container
    bottom: 93%; // Place the line at the bottom of the container
    left: 21%; // Align the line with the start of the container
    width: 80%; // Ensure the line stretches across the container
    padding-left: 20%;
    height: 2px; // Adjust line thickness as needed
    background-color: #00FF0A; // Set the color of the line
    content: ""; // Ensure the line has content
}