<div id="for-you-container">
  <app-sidebar id="sidebar"></app-sidebar>
  <div id="top-right-container">
    <app-search-bar id="search-bar"></app-search-bar>
    <div
      id="buttons-container"
      class="flex flex-row py-4 justify-center items-center"
    >
      <app-following-button
        class="mx-4 sm:mx-6 md:mx-8 lg:mx-12"
        id="following-button"
      ></app-following-button>
      <app-for-you-button
        class="mx-4 sm:mx-6 md:mx-8 lg:mx-10"
        id="for-you-button"
      ></app-for-you-button>
    </div>
    <div *ngFor="let post of posts">
      <div id="post-box">
        <div class="post-format">
          <app-post-component
              [username]="post?.user?.username"
              [usertag]="post?.user?.usertag"
              [profile_picture]="post?.user?.profile_pic"
              [date]="post?.date"
              [message]="post?.content?.message"
              [image]="post?.content?.image"
              [video]="post?.content?.video"
              [like]="post?.likes"
              [repost]="post?.reposts"
              [comment_number]="post?.comment_num"
              [save]="post?.saves"
              [postId]="post?._id"
          ></app-post-component>
        </div>
      </div>
    </div>
  </div>
</div>
