<h1>Terms and Conditions</h1>
<br />
<p class="text-sm md:text-md lg:text-base">
  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin enim nulla,
  ultrices ut dui ac, aliquam tempor nisl. Nam euismod risus ligula, id
  venenatis sapien hendrerit eget. Suspendisse eu nisi urna. Nulla facilisi. Sed
  vitae enim quam. Fusce vel est malesuada, sagittis felis sed, luctus enim.
  Proin varius mattis enim eget consectetur. Pellentesque suscipit sed tellus
  cursus aliquam. Ut ac tortor sagittis, commodo massa vel, eleifend risus.
  Praesent et condimentum libero. Nunc tempor ornare est, id tincidunt diam
  volutpat nec. In posuere nibh eget nulla venenatis sagittis. Proin
  pellentesque, nibh tincidunt sollicitudin fringilla, lectus turpis iaculis
  nisl, eget vestibulum enim tortor sit amet odio. Phasellus sed sagittis leo.
  Integer accumsan malesuada nisl, et vestibulum ante.
</p>
<br />
<p class="text-sm md:text-md lg:text-base">
  Praesent sit amet leo vitae purus interdum ultrices. Fusce lacinia libero sed
  lectus feugiat rutrum. Cras euismod dolor vitae magna tempus, vitae lacinia
  felis feugiat. Aliquam ligula neque, ullamcorper a commodo in, egestas et
  augue. Pellentesque lobortis a quam placerat maximus. Etiam ultrices volutpat
  leo. Vestibulum mauris dolor, elementum ut elit ultrices, volutpat
  pellentesque enim. Aenean maximus nibh eget consequat aliquet. Proin in nibh
  ac magna molestie placerat. Aenean ex metus, ultrices vel arcu ac, egestas
  eleifend urna. Phasellus neque augue, bibendum vel laoreet eget, dictum sed
  ligula. Fusce enim dui, rhoncus eu feugiat eget, tristique id arcu. Aliquam
  erat volutpat. Nam gravida gravida aliquet. Aliquam sit amet augue a orci
  pretium posuere. Aenean ornare lorem ut lorem tincidunt efficitur.
  Pellentesque feugiat facilisis mauris ac aliquet. Duis scelerisque finibus
  dolor id efficitur. Morbi pharetra leo a pharetra finibus.
</p>
<br />
<p class="text-sm md:text-md lg:text-base">
  Vestibulum mauris ex, congue fringilla nibh quis, pharetra sodales felis. In
  varius lorem urna, nec eleifend orci commodo non. Proin gravida nunc at libero
  tincidunt varius. Cras in diam eleifend, dapibus elit vitae, volutpat augue.
  Phasellus pharetra eu libero non eleifend. Sed condimentum vulputate magna, id
  pretium augue aliquam et. Nulla convallis magna nec ornare cursus. Mauris ut
  ex id ante rutrum molestie in ut turpis. Sed bibendum nunc et sem tincidunt,
  sed bibendum erat accumsan. Etiam non vestibulum felis. Ut feugiat, nulla quis
  posuere sollicitudin, felis dolor pulvinar elit, quis vulputate nisi massa
  mattis ligula. Mauris sed dignissim neque. Aliquam a erat arcu. Etiam ac diam
  vitae quam pulvinar aliquam. Sed ut nibh nec sem mattis fringilla. Vestibulum
  vel massa id dolor eleifend efficitur ac sed mauris. Nulla consectetur eu erat
  a fermentum. Sed viverra eget lorem nec ullamcorper. Nulla quis ipsum vitae ex
  molestie feugiat. Vestibulum venenatis justo non imperdiet vestibulum. Nam
  accumsan maximus elementum. Phasellus hendrerit blandit eleifend. Mauris
  rutrum pretium volutpat. Nulla facilisi. Cras ipsum lectus, tristique vitae
  scelerisque eu, finibus sed massa.
</p>
<br />
<p class="text-sm md:text-md lg:text-base">
  Vestibulum consequat lorem non mauris iaculis tincidunt. Lorem ipsum dolor sit
  amet, consectetur adipiscing elit. Praesent accumsan nunc a urna pellentesque,
  ac dapibus purus feugiat. Donec vitae magna in ligula tempus viverra. In ac
  ullamcorper neque, ac pulvinar leo. In hac habitasse platea dictumst. Sed in
  dapibus leo, ut consectetur neque. Donec scelerisque erat elementum enim
  faucibus, nec tempus orci semper. Donec dolor neque, commodo nec odio quis,
  mattis suscipit purus. Duis ipsum magna, tempus in dui nec, aliquet mollis
  augue. Curabitur tincidunt cursus ligula. Fusce ac volutpat tellus. Donec
  varius consectetur enim, vel posuere justo consectetur lobortis. In hac
  habitasse platea dictumst. Nam ex sem, consectetur id fringilla nec, fermentum
  a lacus. Vestibulum nulla quam, malesuada vitae libero eu, scelerisque egestas
  purus. Sed vitae nisl non mauris condimentum varius. Nunc rutrum leo a ipsum
  eleifend viverra. Phasellus consequat, tellus id laoreet sagittis, sem ligula
  egestas risus, et luctus dolor quam non ante. Curabitur a posuere nisl. Nulla
  ac lectus a metus consectetur vulputate eu sit amet neque. Fusce ut cursus
  magna. Integer eu velit accumsan, luctus diam non, porta augue. Nullam
  pellentesque ante a dictum placerat. Vestibulum hendrerit ipsum vitae laoreet
  vestibulum. Sed posuere, nibh sit amet volutpat rhoncus, diam augue commodo
  erat, tincidunt vulputate nibh tellus non enim. Praesent molestie felis eget
  ligula venenatis congue eget ut ante. Aliquam vel venenatis nisl. Suspendisse
  eget nisi sit amet augue ultrices placerat at ac est. In dictum semper leo
  eget aliquam. Ut et tristique tortor, eu mollis ex.
</p>
