$background-color: #000000;
$text-color: #ffffff;
$emphasis-color: #00ff0a;
$secondary-accent-color: #008005;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  background-color: $background-color;
  font-family: Inter, sans-serif;
  color: $text-color;
  margin: 0;
  padding: 0;
}

.reply {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 10px;
  border: 1px solid $emphasis-color;
  width: auto;
}

.input-label {
  border: none;
}
.input-box {
  border: none;
  //   padding-top: 0.1rem;
  justify-content: center;
  align-items: center;
  width: 90%;
  // font-size: 1.8vw;
  padding-top: 2vw;
  padding-bottom: 2vw;
  margin-left: 2rem;
  display: flex;
}

.input-box:focus {
  outline: none;
}

#profile-icon {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 0.5rem;
  align-self: center;
}
.reply-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1vw;
}
.reply-button button {
  background-color: $secondary-accent-color;
  color: $text-color;
  border: none;
  border-radius: 25px;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  font-size: 2vh;
  margin-right: 1vw;
}

.text-box {
  margin-right: 1vw;
}
