<div id="notification-container">
  <app-sidebar id="sidebar"></app-sidebar>
  <div id="notif-side">
    <div id="top">
      <div id="home"><- Home</div>
      <div id="notifications">Notifications</div>
    </div>
    <div id="search-bar">Search bar</div>
    <div id="thirdline">
      <div id="new">New</div>
      <div id="clear">Clear Notifications</div>
    </div>
    <app-new-notification
      [username]="username"
      [usertag]="usertag"
      [profile_pic]="profile_pic"
      [action]="action"
      id="new-notif"
    ></app-new-notification>
    <app-new-notification
      [username]="username"
      [usertag]="usertag"
      [profile_pic]="profile_pic"
      [action]="action"
      id="new-notif"
    ></app-new-notification>
    <app-new-notification
      [username]="username"
      [usertag]="usertag"
      [profile_pic]="profile_pic"
      [action]="action"
      id="new-notif"
    ></app-new-notification>
    <app-new-notification
      [username]="username"
      [usertag]="usertag"
      [profile_pic]="profile_pic"
      [action]="action"
      id="new-notif"
    ></app-new-notification>
    <app-new-notification
      [username]="username"
      [usertag]="usertag"
      [profile_pic]="profile_pic"
      [action]="action"
      id="new-notif"
    ></app-new-notification>
    <app-new-notification
      [username]="username"
      [usertag]="usertag"
      [profile_pic]="profile_pic"
      [action]="action"
      id="new-notif"
    ></app-new-notification>
    <app-new-notification
      [username]="username"
      [usertag]="usertag"
      [profile_pic]="profile_pic"
      [action]="action"
      id="new-notif"
    ></app-new-notification>
    <app-new-notification
      [username]="username"
      [usertag]="usertag"
      [profile_pic]="profile_pic"
      [action]="action"
      id="new-notif"
    ></app-new-notification>
  </div>
</div>
