$background-color: #000000;
$text-color: #ffffff;
$emphasis-color: #00ff0a;
$secondary-accent-color: #008005;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  background-color: $background-color;
  font-family: Inter, sans-serif;
  color: $text-color;
  margin: 0;
  padding: 0;
}
#post-container {
  display: flex;
}

#sidebar {
  flex: 1;
}
#post-side {
  flex: 4;
  margin-left: 1rem;
  margin-bottom: 2rem;
}

#search-bar {
  padding-top: 10px;
  padding-right: none;
  font-size: 20px;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 3000;
  width: 100%;
}

#secondline {
  padding-bottom: 30px;
  border-bottom: 1px solid $emphasis-color;
}

#to-home {
  margin: 10px;
  font-size: 30px;
  margin-top: 3rem;
}

.attachments {
  margin: 1rem;
  height: 4rem;
  width: 4rem;
  margin-right: 2rem;
}
