$background-color: #000000;
$text-color: #ffffff;
$emphasis-color: #00ff0a;
$secondary-accent-color: #008005;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  background-color: $background-color;
  font-family: Inter, sans-serif;
  color: $text-color;
  margin: 0;
  padding: 0;
}
#post-container {
  display: flex;
}

#sidebar {
  flex: 1;
}
#post-side {
  flex: 4;
  margin-left: 25px;
}

#search-bar {
  margin-top: 10px;
  font-size: 20px;
  display: flex;
  justify-content: center;
}

#secondline {
  padding-bottom: 30px;
  border-bottom: 1px solid $emphasis-color;
}

#to-home {
  margin: 10px;
  font-size: 30px;
}
