<div id="post-container">
  <app-sidebar id="sidebar"></app-sidebar>
  <div id="post-side">
    <app-search-bar id="search-bar"></app-search-bar>
    <div id="secondline">
      <div id="to-home"><a href=""><- Home</a></div>
    </div>
    <div>
      <app-post-component
        [username]="post?.user?.username"
        [usertag]="post?.user?.usertag"
        [profile_picture]="post?.user?.profile_pic"
        [date]="post?.date"
        [message]="post?.content?.message"
        [image]="post?.content?.image"
        [video]="post?.content?.video"
        [timestamp]="post?.timestamp"
        [videoviews]="post?.videoviews"
        [like]="post?.likes"
        [repost]="post?.reposts"
        [comment_number]="post?.comment_num"
        [save]="post?.saves"
        [postId]="post?._id"
      ></app-post-component>
    </div>
    <app-reply [profile_picture]="profileImagePath"></app-reply>
    <div class="comment-section">
      <div *ngFor="let comment of comments">
        <app-comment
          [profile_picture]="comment?.user?.profile_pic"
          [username]="comment?.user?.username"
          [usertag]="comment?.user?.usertag"
          [comment]="comment?.comment"
          [like]="comment?.likes"
          [comment_number]="comment?.comment_num"
          [repost]="comment?.reposts"
          [save]="comment?.saves"
        ></app-comment>
      </div>
    </div>
    <!-- <div class="comment-section">
      <app-comment
        [profile_picture]="profile_picture2"
        [username]="username"
        [usertag]="usertag"
        [comment]="comment"
        [like]="like3"
        [comment_number]="comment_number3"
        [repost]="repost3"
        [save]="save3"
      ></app-comment>
      <app-comment
        [profile_picture]="profile_picture4"
        [username]="username3"
        [usertag]="usertag3"
        [comment]="comment2"
        [like]="like2"
        [comment_number]="comment_number2"
      ></app-comment>
    </div> -->
  </div>
</div>
