<div id="sidebar">
  <div id="top">
    <img
      id="logo"
      ngSrc="assets/logo.png"
      height="100"
      width="100"
      alt="BitLink logo"
    />
    <div id="info">
      <a href="/user">
        <img
          id="profile_pic"
          [ngSrc]="profileImagePath"
          height="100"
          width="100"
          alt="Profile Picture"
      /></a>
      <div id="profile">
        <p class="username hide-text">{{ name }}</p>
        <p class="usertag hide-text">&#64;{{ username }}</p>
      </div>
    </div>
    <p class="nav">
      <img
        class="main-icon"
        ngSrc="assets/icons/home.png"
        alt="Home icon"
        height="100"
        width="100"
      /><a href="" class="main-text hide-text">Home</a>
    </p>
    <p class="nav">
      <img
        class="main-icon"
        ngSrc="assets/icons/messages.png"
        alt="Messages icon"
        height="100"
        width="100"
      /><a href="/messages" class="main-text hide-text">Messages</a>
    </p>
    <p class="nav">
      <img
        class="main-icon"
        ngSrc="assets/icons/list.png"
        alt="Following icon"
        height="100"
        width="100"
      /><a href="/following" class="main-text hide-text">Following</a>
    </p>
    <p class="nav">
      <img
        class="main-icon"
        ngSrc="assets/icons/notifications.png"
        alt="Notifications icon"
        height="100"
        width="100"
      /><a href="/notifications" class="main-text hide-text">Notifications</a>
    </p>
  </div>
  <div id="space"></div>
  <div id="bottom">
    <a class="align-bot"
      ><button class="whole-width" (click)="openpopup()">
        <img
          class="main-icon"
          ngSrc="assets/icons/post.png"
          alt="Post icon"
          height="100"
          width="100"
        />
        <div class="hide-post">Post</div>
      </button></a
    >
    <a class="align-bot" id="settings" href="/settings"
      ><img
        class="main-icon"
        ngSrc="assets/icons/settings.png"
        height="100"
        width="100"
        alt="Settings icon"
    /></a>
    <div *ngIf="show">
      <app-create-post-popup [show]="show" (showChange)="popupclosed($event)">
      </app-create-post-popup>
    </div>
  </div>
</div>
