<div id="post-component">
  <div id="profile">
    <div class="poster">
      <img [src]="profile_picture" alt="profile" id="profile-icon" />
      <div id="profile_info">
        <div id="userline">
          <div id="username">{{ username }}</div>
          <div id="date">{{ date }}</div>
        </div>
        <div id="usertag">{{ usertag }}</div>
      </div>
    </div>
  </div>
  <div class="poster">
    <img [src]="profile_picture" alt="space" id="space" />
    <div id="message">
      <p>{{ message }}</p>
    </div>
  </div>
  <div class="videosection">
    <img [src]="profile_picture" alt="space" id="space" />
    <p class="grey">0:35</p>
    <img src="assets/maid-outfit.jpg" alt="video" id="clip" />
    <p class="grey">13.2M</p>
  </div>
  <app-like-comment-share-bar
    [like]="like"
    [repost]="repost"
    [comment]="comment_number"
    [save]="save"
  ></app-like-comment-share-bar>
</div>
