<div id="post-component">
  <div id="profile">
    <div class="poster">
      <img [src]="profile_picture" alt="profile" id="profile-icon" />
      <div id="profile_info">
        <div id="userline">
          <div id="username">{{ username }}</div>
          <div id="date">{{ date }}</div>
        </div>
        <div id="usertag">{{ usertag }}</div>
      </div>
    </div>
  </div>
  <div class="poster">
    <img [src]="profile_picture" alt="space" id="space" />
    <div id="message">
      <p>{{ message }}</p>
    </div>
  </div>
  <div class="videosection" *ngIf="video">
    <img [src]="profile_picture" alt="space" id="space" />
    <p class="grey">{{ timestamp }}</p>
    <img [src]="video" alt="video" id="clip" />
    <p class="grey">{{ videoviews }}</p>
  </div>
  <div class="imagesection" *ngIf="image">
    <img [src]="profile_picture" alt="space" id="space" />
    <div id="image-format">
      <img [src]="image" alt="image" id="image" />
    </div>
  </div>
  <app-like-comment-share-bar
    [like]="like"
    [repost]="repost"
    [comment]="comment_number"
    [save]="save"
    id="scale"
  ></app-like-comment-share-bar>
</div>
