
<h1>Contact Us</h1>

<div class="form">
    <h2>
        Having problems with BitLink? Fill out the form below and we will get back to you as soon as possible! Responses generally take 1-3
        business days.
    </h2><br><br>

    <div class="inputs">
        <div class="in"><app-text-input-box [textField]=name [width]="100" [height]="2"></app-text-input-box></div>
        <div class="in"><app-text-input-box [textField]=email [width]="100" [height]="2"></app-text-input-box></div>
        <div class="in"><app-text-input-box [textField]=message [width]="100" [height]="10"></app-text-input-box></div>
    </div>
</div>