$background-color: #000000;
$text-color: #ffffff;
$emphasis-color: #00ff0a;
$secondary-accent-color: #008005;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  background-color: $background-color;
  font-family: Inter, sans-serif;
}
#format-reg {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 100vh;
}
#logo {
  width: 15rem;
  height: 15rem;
  flex-shrink: 1;
}

#page {
  margin: auto;
  width: 40%;
  flex-grow: 1;
}

span {
  color: $emphasis-color;
}

h1,
p,
button {
  color: $text-color;
  text-decoration: none;
}

h1 {
  margin: auto;
  text-align: center;
  font-size: 4.5rem;
  line-height: 1.2;
  font-weight: normal;
}

.small {
  margin-bottom: 2%;
}

.input-spacing {
  margin-bottom: 1.2rem;
}

button {
  display: block;
  margin: auto;
  padding: auto;
  width: 80%;
  height: 5rem;
  border-radius: 25px;
  border: none;
  background-color: #008005;
  font-size: 2rem;
}
