$background-color: #000000;
$text-color: #ffffff;
$emphasis-color: #00ff0a;
$secondary-accent-color: #008005;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  background-color: $secondary-accent-color;
  font-family: Inter, sans-serif;
  color: $text-color;
  margin: 0;
  padding: 0;
}
.background {
  padding-left: 10rem;
  padding-right: 10rem;
  background-color: $background-color;
  width: 60rem;
}
.search {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 25px;
}

.input-label {
  border: none;
}
.input-box {
  border: none;
  //   padding-top: 0.1rem;
  justify-content: center;
  align-items: center;
  width: 97%;
  font-size: 1.2rem;
  margin-left: 1%;
  display: flex;
}

.input-box:focus {
  outline: none;
}

#search-icon {
  margin: 1vh;
  margin-bottom: 0;
  margin-top: 0;
}

.text-box {
  margin: 1vh;
  margin-bottom: 0;
  margin-top: 0;
}
