<!-- <div class="background">
  <div class="search">
    <img
      ngSrc="assets/icons8-search-100.png"
      width="25"
      height="25"
      alt="search"
      id="search-icon"
    />
    <div class="text-box">
      <label class="input-label" for="TextField">{{ textField }}</label>
      <input
        type="text"
        class="input-box"
        id="TextField"
        placeholder="Search"
      />
    </div>
  </div>
</div> -->
<div class="search-box-background">
  <div class="input-box">
    <form (ngSubmit)="onSubmit()">
    <input type="search-box-text" [(ngModel)]="searchQuery" name="search" placeholder="Search" />
    <span class="search">
      <button type="submit"><img
        ngSrc="assets/icons8-search-100.png"
        width="25"
        height="25"
        alt="search"
        class="search-icon"
      /></button>
    </span>
  </form>
  </div>
</div>
