$background-color: #000000;
$text-color: #ffffff;
$emphasis-color: #00ff0a;
$secondary-accent-color: #008005;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  background-color: $background-color;
  font-family: Inter, sans-serif;
  color: $text-color;
  margin: 0;
  padding: 0;
  border-radius: 1.5625rem;
  box-sizing: border-box;
}

.search-box-background {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 80%;
}

.input-box {
  position: relative;
  height: 2.5rem;
  max-width: 100%;
  width: 50rem;
  margin: 0 1.875rem;
  border-radius: 1.5625rem;
  background-color: $secondary-accent-color;
}

.input-box input {
  position: relative;
  height: 100%;
  width: 100%;
  padding: 0 0.9375rem 0 4.0625rem;
  outline: none;
  border: none;
  border-radius: 1.5625rem;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  background-color: $secondary-accent-color;
}

.input-box .search {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 3.75rem;
  display: flex;
  align-items: center;
  background-color: $secondary-accent-color;
  justify-content: center;
}

.search .search-icon {
  font-size: 1.875rem;
  background-color: $secondary-accent-color;
}
