$bg-color: #D9D9D9;

.inputs {
  position: relative;
  font-family: sans-serif;
  font-size: small;
}

.input-box {
  padding: 0;
  background-color: $bg-color;
  border: 0;
  width: 100%;
  color: black;
  height: 5vh;
  font-size: 15pt;
}

.input-label {
  position: absolute;
  bottom: 5px; 
  left: 5px;
  background-color: $bg-color;
}
