$background-color: #000000;
$text-color: #ffffff;
$emphasis-color: #00ff0a;
$secondary-accent-color: #008005;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  background-color: $background-color;
  font-family: Inter, sans-serif;
  color: $text-color;
  margin: 0;
  padding: 0;
}

.content {
  //   bottom: 10rem;
  //   right: 0;
  height: 20vh;
  width: 40vw;
  border-radius: 25px;
  border: 1px solid $emphasis-color;
  padding-top: 2vh;
  padding-bottom: 2vh;
  padding-right: 1vw;
  padding-left: 1vw;
  //   display: flex;
  //   justify-content: start;
  //   align-items: center;
}
// .top {
//   //   border-radius: 30px;
//   //   border: 1px solid $emphasis-color;
//   //   padding: 1rem;
//   //   z-index: 1000;
//   display: grid;
//   grid-template-rows: auto 1fr auto;
// }

#close {
  border: none;
  //   height: 1rem;
  //   width: 1rem;
  margin-right: 1vw;
}
#cancel-icon {
  height: 3vh;
  width: auto;
}

#share-options {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.space {
  height: 3vh;
  width: auto;
  opacity: 0;
  //   margin-right: 3rem;
}
.toprow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  padding-bottom: 1vh;
  padding-top: 0;
}
.bottomrow {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr auto;
  padding-top: 1vh;
  padding-bottom: 0;
}
.image-format {
  height: 4vh;
  width: auto;
}

.one-share {
  font-size: 1vw;
}
