<div class="content" *ngIf="show">
  <!-- <div class="top">
    <button (click)="closepopup()" id="close">
      <img src="assets/icons8-cancel-100.png" id="cancel-icon" />
    </button>
  </div> -->
  <div id="share-options">
    <div class="toprow">
      <div class="one-share">
        <img src="assets/icons/icons8-link-100.png" class="image-format" />
        <p>Copy link</p>
      </div>
      <div class="one-share">
        <img src="assets/icons/icons8-sms-100.png" class="image-format" />
        <p>SMS</p>
      </div>
      <div class="one-share">
        <img src="assets/icons/icons8-messenger-100.png" class="image-format" />
        <p>Messenger</p>
      </div>
      <div class="one-share">
        <img src="assets/icons/icons8-discord-100.png" class="image-format" />
        <p>Discord</p>
      </div>
      <div class="one-share">
        <img src="assets/icons/icons8-linkedin-100.png" class="image-format" />
        <p>LinkedIn</p>
      </div>
      <div class="one-share">
        <img src="assets/icons/icons8-wechat-100.png" class="image-format" />
        <p>WeChat</p>
      </div>
      <div class="one-share">
        <img src="assets/icons/icons8-whatsapp-100.png" class="image-format" />
        <p>WhatsApp</p>
      </div>
      <button (click)="closepopup()" id="close">
        <img src="assets/icons8-cancel-100.png" id="cancel-icon" />
      </button>
    </div>
    <div class="bottomrow">
      <div class="one-share">
        <img src="assets/icons/icons8-reddit-100.png" class="image-format" />
        <p>Reddit</p>
      </div>
      <div class="one-share">
        <img src="assets/icons/icons8-github-100.png" class="image-format" />
        <p>GitHub</p>
      </div>
      <div class="one-share">
        <img src="assets/icons/icons8-facebook-100.png" class="image-format" />
        <p>Facebook</p>
      </div>
      <div class="one-share">
        <img src="assets/icons/icons8-instagram-100.png" class="image-format" />
        <p>Instagram</p>
      </div>
      <div class="one-share">
        <img src="assets/icons/icons8-snapchat-100.png" class="image-format" />
        <p>SnapChat</p>
      </div>
      <div class="one-share">
        <img src="assets/icons/icons8-x-100.png" class="image-format" />
        <p>X</p>
      </div>
      <div class="one-share">
        <img src="assets/icons/icons8-threads-100.png" class="image-format" />
        <p>Threads</p>
      </div>
      <div class="space" id="close">
        <img src="assets/icons8-cancel-100.png" id="cancel-icon" />
      </div>
    </div>
  </div>
</div>
