$background-color: #000000;
$text-color: #ffffff;
$emphasis-color: #00ff0a;
$secondary-accent-color: #008005;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  background-color: $background-color;
  font-family: Inter, sans-serif;
  color: $text-color;
  margin: 0;
  padding: 0;
}
#profile {
  display: grid;
  grid-template-rows: 1fr 1fr;
}
.username {
  line-height: 0.5;
  padding-top: 0.8rem;
  display: flex;
  justify-items: start;
}
.usertag {
  line-height: 0.5;
  padding-top: 0.3rem;
  display: flex;
  justify-items: start;
}
#profile_pic {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
}
.notification {
  display: grid;
  grid-template-columns: auto 15rem 1fr auto auto auto;
  padding: 10px;
  border: 1px solid $emphasis-color;
}
#sidebar {
  position: fixed;
  height: 100%;
}
#new-notif {
  position: fixed;
  display: flex;
  width: 20%;
  justify-content: flex-end;
}

#message {
  display: flex;
  // justify-content: center;
  align-items: center;
}

#cancel-button {
  display: flex;
  align-items: center;
  margin-right: 10px;
}

#cancel-button button {
  border: none;
}

#following {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
#following button {
  width: 8rem;
  height: 2.5rem;
  border: 2px solid $secondary-accent-color;
  color: $secondary-accent-color;
  background-color: $text-color;
  padding: 10px;
  padding-top: 8px;
  border-radius: 25px;
  font-size: 1rem;
}

#followback {
  display: flex;
  align-items: center;
  margin-right: 3rem;
}
#followback button {
  width: 8rem;
  height: 2.5rem;
  border: none;
  background-color: $secondary-accent-color;
  padding: 10px;
  border-radius: 25px;
  font-size: 1rem;
}
