<div id="homepage-container">
  <app-sidebar id="sidebar"></app-sidebar>
  <div id="top-right-container">
    <div class="user-profile">
      <div id="profile-format">
        <img [src]="profile_picture" alt="profile icon" id="profile-icon" />
      </div>
      <div id="format-text">{{ username }}</div>
      <div id="format-text">{{ usertag }}</div>
      <div id="statistics">
        <div id="postnumber">Posts: {{ postnumber }}</div>
        <div id="followercount">Followers: {{ followercount }}</div>
      </div>
    </div>
    <!-- <div>Recent Posts</div> -->
    <div id="post-box">
      <div class="post-format">
        <app-post-component
          [username]="username"
          [usertag]="usertag"
          [profile_picture]="profile_picture"
          [date]="date"
          [message]="message"
          [image]="image"
          [like]="like"
          [comment_number]="comment_number"
          [repost]="repost"
          [save]="save"
        ></app-post-component>
      </div>
      <div class="post-format">
        <app-post-component
          [username]="username"
          [usertag]="usertag"
          [profile_picture]="profile_picture"
          [date]="date2"
          [message]="message2"
          [like]="like2"
          [comment_number]="comment_number2"
          [repost]="repost2"
          [save]="save2"
        ></app-post-component>
      </div>
      <div class="post-format">
        <app-post-component
          [username]="username"
          [usertag]="usertag"
          [profile_picture]="profile_picture"
          [date]="date4"
          [message]="message4"
          [like]="like3"
          [comment_number]="comment_number3"
          [repost]="repost3"
          [save]="save3"
        ></app-post-component>
      </div>
    </div>
  </div>
</div>
