$background-color: #000000;
$text-color: #ffffff;
$emphasis-color: #00ff0a;
$secondary-accent-color: #008005;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  background-color: $background-color;
  font-family: Inter, sans-serif;
  color: $text-color;
  margin: 0;
  padding: 0;
}

#profile {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.username {
  line-height: 0.5;
  padding-top: 0.3rem;
  display: flex;
  justify-items: start;
}

.usertag {
  line-height: 0.5;
  padding-top: 0.3rem;
  display: flex;
  justify-items: start;
}

#profile_pic {
  height: 3rem;
  width: 3rem;
  max-height: 3rem;
  max-width: 3rem;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.message-box {
  display: grid;
  grid-template-columns: auto 15rem 1fr auto auto auto;
  padding: 10px;
  width: 20%;
}
