@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
$font: Inter, sans-serif;
$background-color: #000000;
$alt-background-color: #d9d9d9;
$text-color: #ffffff;
$emphasis-color: #00ff0a;
$secondary-accent-color: #008005;

* {
  background-color: $background-color;
  color: $text-color;
  font-family: $font;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

#main {
  margin-top: 1%;
  margin-left: 23%;
}

.inputs {
  display: inline-block;
}

input {
  background-color: $alt-background-color;
  font-size: 2rem;
  margin-top: 1%;
}

.small {
  font-size: 1rem;
  margin: 0;
}

#pictures {
  margin-top: 5%;
}

#profile-img {
  width: 20rem;
  height: 20rem;
  object-fit: cover;
}

.avatar {
  background-color: $secondary-accent-color;
  font-size: 1.2rem;
  margin-top: 1%;
}

#footer {
  border-top: 1px solid $emphasis-color;
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 20%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-top: 2%;
}

#footer a {
  text-decoration: none;
}
