<app-sidebar></app-sidebar>
<div id="main">
  <h1>{{name}}</h1>
  <div id="form">
    <div><label>Name: </label><input class="inputs" type="text"></div>
    <div><label>Username: </label><input class="inputs" type="text"></div>
    <div><label>Email: </label><input class="inputs" type="text"></div>
    <p class="small">Email will not be publicly shared.
    <div><label>New Password: </label><input class="inputs" type="text"></div>
    <div><label>Confirm Password: </label><input class="inputs" type="text"></div>
    <div id="pictures">
      <div><img id="profile-img" src="assets/profile_picture.png" alt="Profile picture"></div>
      <div><button class="avatar">Choose new image</button></div>
      <div><button class="avatar">Delete profile picture</button></div>
    </div>
  </div>
</div>

