<div id="profile-page">
  <div id="sidebar-format"><app-sidebar></app-sidebar></div>
  <div id="main">
    <h1>{{ currentName }}</h1>
    <div id="form">
      <div>
        <label>Name: </label
        ><input class="inputs" type="text" [(ngModel)]="nameInput" />
      </div>
      <div>
        <label>Username: </label
        ><input class="inputs" type="text" [(ngModel)]="usernameInput" />
      </div>
      <div>
        <label>Email: </label
        ><input class="inputs" type="text" [(ngModel)]="emailInput" />
      </div>
      <p class="small">Email will not be publicly shared.</p>
      <div>
        <label>New Password: </label
        ><input class="inputs" type="text" [(ngModel)]="passwordInput" />
      </div>
      <div>
        <label>Confirm Password: </label
        ><input class="inputs" type="text" [(ngModel)]="password2Input" />
      </div>
      <button class="buttons" (click)="update()">Confirm changes</button>
      <div id="errors" *ngIf="error">{{ error }}</div>
      <div id="success" *ngIf="success">Changes made successfully!</div>
      <div id="pictures">
        <div>
          <img
            id="profile-img"
            src="assets/profile_picture.png"
            alt="Profile picture"
            class="object-contain aspect-w-1 aspect-h-1 w-40 sm:w-40 md:w-60 lg:w-70"
          />
        </div>
        <div><button class="buttons">Choose new image</button></div>
        <div><button class="buttons">Delete profile picture</button></div>
        <div
          id="footer"
          class="flex items-center justify-between mx-15 pt-1 pb-1 mt-2 sm:mx-15 md:mx-15 lg:mx-20 sm: mr-5 md: mr-10 lg: mr-15"
        >
          <a href="/contact" class="text-xs sm:text-md md:text-lg lg:text-xl"
            >Contact Us</a
          >
          <a
            href="/terms-and-conditions"
            class="text-xs sm:text-md md:text-lg lg:text-xl"
            >Terms and Conditions</a
          >
          <a href="/login" class="text-xs sm:text-md md:text-lg lg:text-xl"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
