<div id="following-container">
    <app-sidebar id="sidebar"></app-sidebar>
    <div id="following-side">
      <div id="top">
        <div id="home"><- Home</div>
        <div id="followed">Following</div>
      </div>
      <app-search-bar id="search-bar"></app-search-bar>
      <div id="thirdline">
        <div id="new">Recent</div>
      </div>
      <app-following-user
        [username]="username"
        [usertag]="usertag"
        [profile_pic]="profile_pic"
        [action]="action1"
        [following]="following"
        id="new-notif"
      ></app-following-user>
      <app-following-user
        [username]="username2"
        [usertag]="usertag2"
        [profile_pic]="profile_pic2"
        [action]="action3"
        [following]="following"
        id="new-notif"
      ></app-following-user>
      <app-following-user
        [username]="username3"
        [usertag]="usertag3"
        [profile_pic]="profile_pic3"
        [action]="action4"
        [following]="following"
        id="new-notif"
      ></app-following-user>
      <app-following-user
        [username]="username4"
        [usertag]="usertag4"
        [profile_pic]="profile_pic4"
        [action]="action6"
        [following]="following"
        id="new-notif"
      ></app-following-user>
      <app-following-user
        [username]="username5"
        [usertag]="usertag5"
        [profile_pic]="profile_pic5"
        [action]="action7"
        [following]="following"
        id="new-notif"
      ></app-following-user>
      <app-following-user
        [username]="username6"
        [usertag]="usertag6"
        [profile_pic]="profile_pic6"
        [action]="action2"
        [following]="following"
        id="new-notif"
      ></app-following-user>
      <app-following-user
        [username]="username7"
        [usertag]="usertag7"
        [profile_pic]="profile_pic7"
        [action]="action5"
        [following]="following"
        id="new-notif"
      ></app-following-user>
    </div>
  </div>
  