<div id="bar">
  <div class="format">
    <img src="assets/icons/icons8-heart-100.png" alt="like" class="image" />
    {{ like }}
  </div>
  <div class="format">
    <img src="assets/icons/icons8-recycle-64.png" alt="repost" class="image" />
    {{ repost }}
  </div>
  <div class="format">
    <img
      src="assets/icons/icons8-comment-100.png"
      alt="comment"
      class="image"
    />
    {{ comment }}
  </div>
  <div class="format">
    <img
      src="assets/icons/icons8-bookmark-100.png"
      alt="bookmark"
      class="image"
    />
    {{ save }}
  </div>
  <div id="center">
    <button id="share-button" (click)="openpopup()">
      <img
        src="assets/icons/icons8-share-100.png"
        alt="share"
        class="button-image"
      />
    </button>
  </div>
  <div *ngIf="show" id="parent">
    <div id="relative-format">
      <app-share-popup [show]="show" (showChange)="popupclosed($event)">
      </app-share-popup>
    </div>
  </div>
</div>
