<div
  id=""
  class="flex flex-row gap-x-4 sm:gap-x-6 lg:gap-x-20 w-full my-auto text-white mb-4 mx-6"
>
  <div
    class="flex flex-row justify-center justify-items-center align-middle gap-x-1"
  >
    <button class="focus:outline-none" (click)="liked()">
      <img
        src="assets/icons/icons8-heart-100.png"
        alt="like"
        class="h-5 md:h-8"
      />
    </button>
    <p class="text-sm md:text-base text-white my-auto">{{ like }}</p>
  </div>
  <div
    class="flex flex-row justify-center justify-items-center align-middle gap-x-1"
  >
    <img
      src="assets/icons/icons8-recycle-64.png"
      alt="repost"
      class="h-5 md:h-8"
    />
    <p class="text-sm md:text-base text-white my-auto">{{ repost }}</p>
  </div>
  <div
    class="flex flex-row justify-center justify-items-center align-middle gap-x-1"
  >
    <img
      src="assets/icons/icons8-comment-100.png"
      alt="comment"
      class="h-5 md:h-8"
    />
    <p class="text-sm md:text-base text-white my-auto">{{ comment }}</p>
  </div>
  <div
    class="flex flex-row justify-center justify-items-center align-middle gap-x-1"
  >
    <img
      src="assets/icons/icons8-bookmark-100.png"
      alt="bookmark"
      class="h-5 md:h-8"
    />
    <p class="text-sm md:text-base text-white my-auto">{{ save }}</p>
  </div>
  <div class="relative">
    <div id="center">
      <button id="share-button" (click)="openpopup()">
        <img
          src="assets/icons/icons8-share-100.png"
          alt="share"
          class="h-5 md:h-8"
        />
      </button>
    </div>
    <div
      id="relative-format"
      class="absolute bottom-1 right-1 rounded-3xl xl:left-1"
    >
      <app-share-popup [show]="show" (showChange)="popupclosed($event)">
      </app-share-popup>
    </div>
  </div>
</div>
